  body {
  background-image: url('https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: auto;
  font-family: Merienda;
  text-align: center;
  }
  .smaller-image {
  max-width: 10em;
  height: auto;
  border-radius: 50%;
  border-color: black;
  border-style: solid;
  float: center;
  }
  #hr-recolor {
  position: abosolute;
  border-color: black; 
  border-style: solid;
  }
  ul {
  list-style-type: none;
  margin: 0px, 0px, 0px; 0px;
  padding: 0;
  }
  #blogs-box {
  text-align: center;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  padding: 5px;
  height: 100%;
  width: 90%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.50), 0 6px 6px rgba(0,0,0,0.50);
  margin: auto;
  bottom: 10px;
   } 
    @media (max-width: 768px) {
          body {
            font-size: 75%; 
            }
          .core-blogs-box {
            max-width: 75%;
            margin: 5px;
            } 
          .tech-blogs-box {
            max-width: 75%;
            margin: 5px;
            }
          }
    @media (max-width: 768px) {
          body {
            font-size: 75%; 
            }
          .core-blogs-box {
            max-width: 75%;
            margin: 5px;
            } 
          .tech-blogs-box {
            max-width: 75%;
            margin: 5px;
            }
          }
    @media (max-width: 350px) {
          body {
            font-size: 50%; 
            }
          .core-blogs-box {
            max-width: 50%;
            margin: 5px;
            font-size: 50%;
            } 
          .tech-blogs-box {
            max-width: 50%;
            margin: 5px;
            font-size: 50%;
            }
          }